<div class="page-header">
  <h1>Welcome to Twipper <small>Subtext for header</small></h1>
</div>



<%= simple_form_for @profile do |f| %>
	<%= f.input :description %>
	<%= f.input :pic %>
	<%= f.button :submit %>

<% end %>
