<%# allow the user to create a new tweet and displays all the user's tweets %>

<%= simple_form_for @tweet do |f| %>
  <%= f.input :tweet %>
  <%= f.button :submit %>
<% end %>

<h2>Previous babble:</h2> <br><br>

<ul class="list-group">
<% @tweets.each do |tweet| %>
	<li class="list-group-item"><%= tweet.tweet %></li>
<% end %>
</ul>

